Memberships

* User should see link for basic plan on homepage
* User should see link for pro plan on homepage
* Basic plan link should point to the regular devise sign up form
* Pro plan link should point to a custom sign up form


Stripe Integration

* Users should have a stripe customer token in the users table
* Javascript should prevent pro form from submitting, when user fills it out.
Send card info to stripe, Stripe will return a card token.
* Javascript will take card token and user fields for validation in rails app.
rails app will note whether plan 1 or plan 2
* Once validated rails should send user info and card token to stripe server and 
stripe will create a subscription and send back customer token. Rails should 
then save customer token and  user information to our database