<div class = 'container text-center'>
  <h1>About Us</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community for
  developers, investors and entrepreneurs to meet.</p>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <p>DevMatch is a fully functioning fictious social media platform designed by myself, Luke Busby, primarily using  
        <%= link_to 'The Essential Web Developer Course', 'https://upskillcourses.com/courses/essential-web-developer-course' %>, 
        a course offered for free through
        <%= link_to 'Upskill', 'https://upskillcourses.com/' %>. It's purpose is to teach applicable web development technics using HTML, CSS, JavaScript/jQuery, Ruby on Rails, Git, Bootstrap, e-commerce, and more.
    </div>
  </div>
</div>