<div class = 'container text-center'>
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  developers and entrepreneurs to meet.</p>
</div>


<p>This is a fictional social media website based off the upskillcourses tutorial
on web development. For more information about this course and it's instructor
please visit upskillcourses.com.</p>